{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Have no account? Please <a href="{% url 'register' %}">register</a></p>
        <p><a href="{% url 'launch' %}">Back to Home</a></p>
    </div>
    <link rel="stylesheet" href="{% static 'css/loin.css' %}">
{% endblock %}
